<div id="root">
  Root Index
<br>
<br>
<ul>All of the users:
<br>
<br>
  <% if @users %>
  <% @users.each do |user| %>
  <li><%= user.fname %> <%= user.lname %></li>
  <% end %>
  <% end %>
</ul>

</div>
