<div class="">
  <nav class="navbar-default navbar-fixed-top">
    <div class="col-xs-12">
      <div class="navbar-left nav-img">
        <%=image_tag("blue-tent-icon.png", class:"small-icon" )%>
      </div>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="../users/new">New User</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div>
    <%=image_tag("theme.jpeg", class:"theme-bg")%>
    <h1 class="title-auth">Sign In</h1>

    <form action="<%= session_url %>" method="post" class='auth-panel'>
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

      <label>
        Email
        <input type="text" name="user[email]" value="">
      </label>

      <br>

      <label>
        Password
        <input type="password" name="user[password]" value="" >
      </label>
      <br>
      <br>
      <button class="btn blue-btn" type="submit">Sign In</button>

    </form>
  </div>
</div>
