@import "bootstrap";

.top-buffer {
  margin-top: 15px;
}

.left-buffer {
  margin-left: 15px;
}
.panel-no-border{
  padding: 0px !important;
  margin-top: -44px;
  width: 70%;
  font-family: 'Quattrocento Sans', sans-serif;
  margin-right: 100px;
  float: right;
  border-radius: 3%;
}

.custom-loading-image{
  background-image: asset-data-url("loading_image");
}

html, body, .container-fluid,#map_canvas {
    height:100%;
}

.container-fluid{
  width: 100%;
  position: absolute;
  top:0;
}

.below-nav {
   top: 50px !important;
   position: relative;
}
html, body, .container-fluid, #map_canvas {
    height:100%;
}
.container-fluid {
    width:100%;
    position:absolute;
    top:0;
    padding:0;
}
#map_canvas {
    height: 100%;
    width: 100%;
}



.canvas-for-search-index{
  border-top:50px solid #fff;
  border-bottom:5px solid #fff;
}

header {
    height:50px;
}
footer {
    height:20px;
}

.map {
  margin: 0 auto;
}

#yard-detail-map{
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.search-map {
  padding: 0;
  position: fixed;
  right: 0px;
  left: auto;
  bottom: 0px;
  top: 0px;
}

#search-map-canvas {
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
}

.breaker {
  height: 1100px;
  width: 100%;
}

// .panel-body {
//     border-radius: 3%;
// }

.panel-heading{
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#overlay {
	background: rgba(162, 170, 157, .9);
	color: #fff;
	margin-top: 150px;
	padding: 20px;
	position: absolute;
	text-align: center;
	width: 90%;
  margin-bottom: 10%;
  padding-bottom: 5%;
  margin: auto;
  margin-left: 5%;
  margin-top: 7%;
  border-radius: 15px;
}

#overlay h2 {
	font: 200 4em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#overlay h4 {
	font: 100 1.8em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.index-item-text{
  font: 100 2.0em/1.0em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: black;
  position: relative;
}


.request-panel-input {
  display: inline;
  width: 80%;
  margin-left: 10px;
}

.request-panel-selector{
  margin-left: 10px;
}

.yard-show-page-map{
  margin: auto;
}

.wide-jumbo {
  margin-top: 50px;
  // display: block;
  // width:100%;
  height:500px;
  // box-sizing: border-box;
  background-size:cover;
  // overflow: hidden;
  background-position: center;
}

.filter-buttons{
  height: 150px;
  background-color: #a2aa9d;
}
.list-item-no-border{
  border-color: transparent !important;
}


.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.testing{
  min-height: 40px;
  max-width: 74%;
  height: 40%;
  margin-top: -2%;
  padding-top: 2%
}

.testing2{
  background-image: asset-data-url("loading_image");
  min-height: 50px;
  min-width: 80px;
  max-height: 700px;
  max-width: 900px;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.testing3{
  background-image: asset-data-url("loading_image");
}

.override{
  margin-top: 0px;
  padding: 0px;
}

.wrapper {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}
.wrapper:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}


.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* fill parent */
  background-image: asset-data-url("loading_image");
  /* let's see it! */
  color: white;
}

.main2{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* fill parent */
  background-image: asset-data-url("loading_image");
  /* let's see it! */
  color: white;
}

.underride{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 3%;
}

.index-image{
  height: 300px;
  width: 400px;
  background-position: center;
  background-size: cover;
  background-image: asset-data-url("loading_image");
  margin: 0 auto;
  border-radius: 3%;
  position: relative;
}

.yard-detail-owner-image-div{
  height: 130px;
  width: 130px;
  overflow: hidden;
  background-position: center;
  background-image: cover;
  border-radius: 65px;
  // background-size: contain;
  background-size: cover;
  margin-top: -60px;
  margin-left: 50px;
  border-color: black;
  border-style: solid;
  border-size: 1px;
}

.yard-detail-owner-image-div2{
  height: 40%;
  width: 23%;
  overflow: hidden;
  background-position: center;
  background-image: cover;
  border-radius: 60%;
  // background-size: contain;
  background-size: cover;
  margin-top: 44%;
  margin-left: 70%;
  border-color: white;
  border-style: solid;
  border-size: 1px;
}

.profile-show-pic{
  height: 220px;
  width: 220px;
  margin: 2%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  border-radius: 110px;
  background-image: asset-data-url("loading_image");
  // background-size: contain;
  background-size: cover;
}


.index-image-holder{
  max-height: 290px;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  border: 0px;
  border-radius: 6%;
  margin: 20px;
}

.request-form-submit{
  display: block;
  margin: 0 auto;
}
.shower-image{
  height: 17px;
  width: 10px;
  background-image: asset-data-url("noun_116378_cc.svg");
  position: relative;
  bottom: 0%;
  padding-left: 13px;
}

.tan-bg-fill {
  background-color: #F1E8C1
}

.red-bg-fill{
  // background-color: #B35B4F
}

.black-bg-fill{
  background-color: #2C2C2E
}

.grey-bg-fill{
  background-color: #A2AA9D
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #2C2C2E;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #B35B4F; /*BACKGROUND color for active*/
background-color: #030033;
}

.navbar-default {
background-color: #B35B4F;

border-color: #030033;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
color: #262626;
text-decoration: none;
background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
text-decoration: none;
background-color: silver; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
color: #A2AA9D; /*Change active text color here*/
}
